*{
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
/* nav ul li a {
  color: white; Force white color
} */
.quicksand-text {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 501;
  font-style: normal;
}
.pacifico-text {
    font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
.lexend-text {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
